<div class="card-trip">
  <img src="<%=@art_piece.picture%>"/>
  <div class="card-trip-infos">
    <div>
      <h2><%=@art_piece.title%></h2>
      <p><%=@art_piece.description%></p>
      <p><%=@art_piece.artist%></p>
      <p><%=@art_piece.category%></p>
      <p><%=@art_piece.painting_technic%></p>
      <p><%=@art_piece.size%></p>
      <p></p>
    </div>
    <h2 class="card-trip-pricing"><%=@art_piece.unit_price%>€</h2>
  </div>
</div>


<div class="form-group">
  <div class="container">
    <div class="row">
    <div class="col-md-2">
      <input type="date" class="form-control input-lg" name="start" placeholder="Check In">
    </div>
    <div class="col-md-2">
      <input type="date" class="form-control input-lg" name="end" placeholder="Check Out">
    </div>
    <div class="col-md-2">
      <a class="btn btn-outline-success" href="#" role="button">Book</a>
    </div>
  </div>
</div>


<%= simple_form_for [ @art_piece, @booking ] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.submit %>
<% end %>


