<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <%= link_to "/", class: "navbar-brand" do %>
    <h1>arteo</h1>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <div class="center-nav-bar">
          <li class="nav-item active">
            <%= link_to "Book a new painting", art_pieces_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My bookings", dashboards_path, class: "nav-link" %>
        </li>
          </li>
          <li class="nav-item dropdown">
            <div class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%=current_user.first_name.first.capitalize%><%=current_user.last_name.first.capitalize%>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
          </li>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Book paintings", art_pieces_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "I own a painting", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
