
<div id="carousel-slides" class="carousel" data-ride="carousel">
  <div class="carousel-text">
    <p>
      <span id="carousel-typed-text"></span>
    </p>
  </div>
  <%= render "shared/search" %>

  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="<%= image_path "art_gallery_1.jpg" %>" class="d-block w-100" alt="art-gallery">
    </div>
    <div class="carousel-item">
      <img src="<%= image_path "art_gallery_2.jpg" %>" class="d-block w-100" alt="art-gallery">
    </div>
    <div class="carousel-item">
      <img src="<%= image_path "art_gallery_3.jpg" %>" class="d-block w-100" alt="art-gallery">
    </div>
  </div>
</div>

<div>
  <h2 class="popular">Have a look at our most popular paintings !</h2>
  <div class="cards ml-4">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1532347939055-0d93107d087e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=704&q=80)">
     <%= link_to "Abstract", art_pieces_path({query:"Abstract"}), class: "home-link" %>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://maggiesfrenchartblog.weebly.com/uploads/9/6/4/6/9646305/2589888.jpg?617)">
    <%= link_to "Classicism", art_pieces_path({query:"Classicism"}), class: "home-link" %>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://museefabre.montpellier3m.fr/var/storage/images/media/images/expositions/2020_le_canada_et_l_impressionnisme_-_nouveau_horizons/helen_mcnicoll_septembre_ensoleille_collection_pierre_lassonde/115647-1-fre-FR/HELEN_MCNICOLL_Septembre_ensoleille_Collection_Pierre_Lassonde.jpg)">
    <%= link_to "Impressionnistic", art_pieces_path({query:"Impressionnistic"}), class: "home-link" %>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1571115764595-644a1f56a55c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=380&q=80)">
     <%= link_to "Street Art", art_pieces_path({query:"Street Art"}), class: "home-link" %>
    </div>
  </div>
</div>
