<div class="show-container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "art_gallery_3.jpg", height: 100, crop: :fill %>')">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 p-5">
        <%# <h1>My Bookings</h1> %>
        <% @bookings.each do |booking| %>
        <ul class="dashboard-card">
        <div class="card-product">
          <img src="<%= booking.art_piece.picture %>"
          <div class="card-product-infos">
            <h2><%= link_to booking.art_piece.title, art_piece_path(booking.art_piece.id) %></h2>
            <p><%= booking.price %></p>
            <p>from <%= booking.start_time %> to <%= booking.end_time %></p>
        </ul>
        <% end %>
      </div>
    </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 p-5">
        <div class="btn-group">
          <%= link_to 'View all paintings', art_pieces_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
